//Flex
.u-flex-1 {
  flex: 1;
}

.u-flex-wrap {
  flex-wrap: wrap;
}

.u-flex-column {
  flex-direction: column;
}

//Justify-content
.u-justify-content-center {
  justify-content: center;
}

.u-justify-content-between {
  justify-content: space-between;
}

.u-justify-content-end {
  justify-content: flex-end;
}

//Align-items
.u-align-items-center {
  align-items: center;
}

.u-align-items-start {
  align-items: flex-start;
}

.u-align-items-end {
  align-items: flex-end;
}