.u-d-flex {
  display: flex;
}

.u-d-mobile {
  display: none;

  @include media-breakpoint-mobile {
    display: flex;
  }
}

.u-d-desktop {
  display: none;

  @include media-breakpoint-desktop {
    display: flex;
  }
}