/* Orders
  ========================================================================== */


$orders: 0, 1;
@each $order in $orders {
  .u-order-#{$order} {
    order: $order;
  }
}

$orders-sm: 2;
@include media-breakpoint-down(sm) {
  @each $order-sm in $orders-sm {
    .u-order-sm-#{$order-sm} {
      order: $order-sm;
    }
  }
}