/* stylelint-disable */
$spaces: 0, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80;

@each $space in $spaces {
  $step: $space / 8;

  //Regular
  [class].u-mt-#{$step} {
    margin-top: $spacer*($space/16);
  }

  [class].u-mb-#{$step} {
    margin-bottom: $spacer*($space/16);
  }

  [class].u-ml-#{$step} {
    margin-left: $spacer*($space/16);
  }

  [class].u-mr-#{$step} {
    margin-right: $spacer*($space/16);
  }

  //For mobile device
  [class].u-mb-#{$step}\@mob {
    margin-bottom: $spacer*($space/16);
  }
}

[class].u-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

[class].u-mt-auto {
  margin-top: auto;
}

/* stylelint-enable */
$spaces: 0;

@each $space in $spaces {
  $step: $space / 8;

  @include media-breakpoint-mobile {
    [class].u-px-sm-#{$step} {
      padding-left: $spacer*(-$space/16);
      padding-right: $spacer*(-$space/16);
    }
  }
}

//
$paddings: (
        'sm' $spacer*2.5 $spacer*1.5,
        'md' $spacer*4 $spacer*2.5,
        'lg' $spacer*5 $spacer*2
);

@each $name, $media-desktop, $media-mobile in $paddings {
  .u-pt-#{$name} {
    padding-top: $media-desktop;

    @include media-breakpoint-mobile {
      padding-top: $media-mobile;
    }
  }

  .u-pb-#{$name} {
    padding-bottom: $media-desktop;

    @include media-breakpoint-mobile {
      padding-bottom: $media-mobile;
    }
  }
}