//Hn font
.u-h1 {
  @extend h1;
}

.u-h2 {
  @extend h2;
}

.u-h3 {
  @extend h3;
}

.u-h4 {
  @extend h4;
}

.u-h5 {
  @extend h5;
}

.u-h6 {
  @extend h6;
}

//Body font
.u-txt-lead {
  @extend .lead;
}

.u-txt-sm {
  @extend .small;
  font-size: $small-font-size;
}

.u-txt-xs {
  @extend .small;
  font-size: $extra-small-font-size;
}

//Transformation
[class].u-txt-lowercase {
  text-transform: lowercase;
}

[class].u-txt-uppercase {
  text-transform: uppercase;
}

[class].u-txt-capitalize {
  text-transform: capitalize;
}

//Font family
[class].u-font-heading {
  font-family: $headings-font-family;
}

// Weight and italics
//[class].u-font-weight-light {
//  font-weight: $font-weight-light
//}

//[class].u-font-weight-lighter {
//  font-weight: $font-weight-lighter
//}

[class].u-font-weight-normal {
  font-weight: $font-weight-normal;
}

[class].u-font-weight-bold {
  font-weight: $font-weight-bold;
}

//[class].u-font-weight-bolder {
//  font-weight: $font-weight-bolder
//}

[class].u-font-italic {
  font-style: italic;
}

//Line height
[class].u-lh-1 {
  line-height: 1;
}

//Align
.u-txt-center {
  text-align: center;
}

.u-txt-right {
  text-align: right;
}

//Colors
$txt-colors: (
        'primary': $primary,
        'secondary': $secondary,
        'body': $body-color,
        'white': $white,
        'gray': $gray,
        'dark': $dark,
        'black': $black,
        'success': $success,
        'danger': $danger
);

@each $name, $color in $txt-colors {
  .u-txt-#{$name} {
    color: $color;
  }
}

//Decoration
.u-txt-underline {
  text-decoration: underline;
}

.u-txt-wrap {
  white-space: pre-wrap;
}