@import "partials/variables";
@import "bootstrap";
@import "partials/mixins";
@import "partials/custom_variables";
@import "partials/fonts";
@import "partials/commons";
@import "partials/lazysizes";

@import "components/alert";
@import "components/block-social";
@import "components/cart";
@import "components/categories";
@import "components/customer";
@import "components/footer";
@import "components/imageslider";
@import "components/mainmenu";
@import "components/offcanvas";
@import "components/products";
@import "components/facet";
@import "components/slick";
@import "components/slick-theme";
@import "components/header";
@import "components/productcomments";
@import "components/utilities";
@import "partials/bs_alpha";

