/* ----------------------- */

/*    TABLE OF CONTENTS    */

/* ----------------------- */

/*
/* SETTINGS */
@import "node_modules/bootstrap/scss/functions";
@import "../../../classic-rocket/_dev/css/../../../classic-rocket/_dev/css/settings/settings.colors";

@import "../../../classic-rocket/_dev/css/../../../classic-rocket/_dev/css/settings/settings.bootstrap";
@import "node_modules/bootstrap/scss/variables";


@import "../../../classic-rocket/_dev/css/settings/settings.fonts";
@import "../../../classic-rocket/_dev/css/settings/settings.prices";
@import "../../../classic-rocket/_dev/css/settings/settings.product-mini";
@import "../../../classic-rocket/_dev/css/settings/settings.search";
@import "../../../classic-rocket/_dev/css/settings/settings.tags";
@import "./settings/settings.project";


/*
/*
/* TOOLS */
@import "node_modules/bootstrap/scss/mixins";
@import "../../../classic-rocket/_dev/css/tools/tools.mixins";

/*
/*
/* GENERICS */
@import "node_modules/bootstrap/scss/reboot";
@import "../../../classic-rocket/_dev/css/generics/generics.reboot";

/*
/*
/* ELEMENTS */
@import "node_modules/bootstrap/scss/forms";
$theme-colors: map-remove($theme-colors, "primary", "secondary", "success", "info", "warning", "danger", "light", "dark");
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/tables";
@import "node_modules/bootstrap/scss/type";

/*
/*
/* OBJECTS */
@import "node_modules/bootstrap/scss/grid";
@import "../../../classic-rocket/_dev/css/objects/objects.cols";
@import "../../../classic-rocket/_dev/css/objects/objects.layout";
@import "../../../classic-rocket/_dev/css/objects/objects.offsets";
@import "../../../classic-rocket/_dev/css/objects/objects.wrapper";

/*
/*
/* COMPONENTS */
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary
);
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/custom-forms";
@import "node_modules/bootstrap/scss/button-group";
@import "node_modules/bootstrap/scss/alert";
$theme-colors: map-remove($theme-colors, "primary", "secondary", "success", "info", "warning", "danger", "light", "dark");

@import "../../../classic-rocket/_dev/css/components/components.address";
@import "../../../classic-rocket/_dev/css/components/components.banner";
@import "../../../classic-rocket/_dev/css/components/components.button";
@import "../../../classic-rocket/_dev/css/components/components.card";
@import "../../../classic-rocket/_dev/css/components/components.cart";
@import "../../../classic-rocket/_dev/css/components/components.carousel";
@import "../../../classic-rocket/_dev/css/components/components.catalog";
@import "../../../classic-rocket/_dev/css/components/components.checkout";
@import "../../../classic-rocket/_dev/css/components/components.custom";
@import "../../../classic-rocket/_dev/css/components/components.customer";
@import "../../../classic-rocket/_dev/css/components/components.filter";
@import "../../../classic-rocket/_dev/css/components/components.footer";
@import "../../../classic-rocket/_dev/css/components/components.form";
@import "../../../classic-rocket/_dev/css/components/components.glider";
@import "../../../classic-rocket/_dev/css/components/components.glider-custom";
@import "../../../classic-rocket/_dev/css/components/components.header";
@import "../../../classic-rocket/_dev/css/components/components.history";
@import "../../../classic-rocket/_dev/css/components/components.icon";
@import "../../../classic-rocket/_dev/css/components/components.inputadd";
@import "node_modules/bootstrap/scss/list-group";
@import "../../../classic-rocket/_dev/css/components/components.media";
@import "node_modules/bootstrap/scss/modal";
@import "../../../classic-rocket/_dev/css/components/components.pagination";
@import "../../../classic-rocket/_dev/css/components/components.panel";
@import "../../../classic-rocket/_dev/css/components/components.prices";
@import "../../../classic-rocket/_dev/css/components/components.product-mini";
@import "../../../classic-rocket/_dev/css/components/components.reassurance";
@import "../../../classic-rocket/_dev/css/components/components.search";
@import "../../../classic-rocket/_dev/css/components/components.select";
@import "../../../classic-rocket/_dev/css/components/components.separator";
@import "../../../classic-rocket/_dev/css/components/components.tags";
@import "node_modules/bootstrap/scss/transitions";


@import "../../../classic-rocket/_dev/css/components/components.project";


/*
/*
/* SCOPES */

/*
/*
/* UTILITIES */
@import "../../../classic-rocket/_dev/css/utilities/utilities.bg";
@import "node_modules/bootstrap/scss/utilities/clearfix.scss";
@import "../../../classic-rocket/_dev/css/utilities/utilities.display";
@import "node_modules/bootstrap/scss/utilities/embed.scss";
@import "../../../classic-rocket/_dev/css/utilities/utilities.flex";
@import "../../../classic-rocket/_dev/css/utilities/utilities.height";
@import "../../../classic-rocket/_dev/css/utilities/utilities.img";
@import "../../../classic-rocket/_dev/css/utilities/utilities.position";
@import "../../../classic-rocket/_dev/css/utilities/utilities.ratio";
@import "node_modules/bootstrap/scss/utilities/screenreaders.scss";
@import "node_modules/bootstrap/scss/utilities/stretched-link.scss";
@import "../../../classic-rocket/_dev/css/utilities/utilities.spacer";
@import "../../../classic-rocket/_dev/css/utilities/utilities.text";
@import "../../../classic-rocket/_dev/css/utilities/utilities.visible";
@import "../../../classic-rocket/_dev/css/utilities/utilities.width";

//if you want to include BS utlities (not recommanded), uncomment this following line

/*
@import "node_modules/bootstrap/scss/utilities";

*/
