$red: #e02020 !default;
$gray: #b3b3b3 !default;
$gray-light: #ecedee !default;
$black: #000 !default;
$white: #fff !default;

/* TOP HEADER */
$topheader-color: $black !default;
$topheader-bg-color: $gray-light !default;
