// ***** INPUT *****

//Sizes
$input-color-width: 28px;
$input-color-height: 28px;

//Spacing
$input-color-margin-x: 4px;
$input-color-margin-y: 4px;

//Border
$input-color-border-color: $gray;
$input-color-border-width: 1px;
$input-color-radius: 50%;


// ***** HOVER *****

//Sizes
$input-color-hover-width: $input-color-width + $input-color-margin-x*2;
$input-color-hover-height: $input-color-height + $input-color-margin-y*2;

//Border
$input-color-hover-border-color: $primary;
$input-color-hover-border-width: $input-color-border-width;
$input-color-hover-radius: $input-color-radius;

//Opacity
$input-color-hover-opacity: .5;


// ***** SELECTED *****

//Sizes
$input-color-selected-width: $input-color-width + $input-color-margin-x*2;
$input-color-selected-height: $input-color-height + $input-color-margin-y*2;

//Border
$input-color-selected-border-color: $primary;
$input-color-selected-border-width: $input-color-border-width;
$input-color-selected-radius: $input-color-radius;