$search-color:$body-color;
$search-font-size:1.25rem;
$search-padding-x:$btn-padding-y - ($search-font-size - $font-size-base);
$search-border-radius:$spacer*1.25;
$search-border-color:transparent;
$search-bg-color:$gray-light;
$search-placeholder-color:$search-color;