/*
LABEL
*/

$form-label-font-size:         null !default;
$form-label-font-family:       null !default;
$form-label-color:             null !default;
$form-label-line-height:       null !default;
$form-label-font-weight:       null !default;
$form-label-font-style:         null !default;
$form-label-text-transform:         null !default;


//$form-label-font-size for BS 5
