$collapse-border-color: $border-color;


//btn collapse product section (usefull if product page with collapse layout)
$pdt-btn-collapse-padding-x: null;
$pdt-btn-collapse-padding-y: null;
$pdt-btn-collapse-color : $black;
$pdt-btn-collapse-font-family : $headings-font-family;
$pdt-btn-collapse-font-size : 1.125 * $font-size-base;
$pdt-btn-collapse-font-weight : $font-weight-bold;
$pdt-btn-collapse-border-color : $border-color;
