//thumb settings
$thumb-wrap-margin: $spacer auto $spacer*3;
$thumb-wrap-width: 100%;

$thumb-border-width: 1px;
$thumb-border-color: $border-color;
$thumb-active-border-color: $border-color;
$thumb-padding: 8px;
$thumb-width:64px;
$thumb-min-width-glider:$thumb-width + $thumb-padding * 2 + $thumb-border-width * 2;
$thumb-margin-x: $spacer/8;
$thumb-active-border-color: $primary;


//product name
$pdt-name-font-size : null;
$pdt-name-font-weight : null;
$pdt-name-font-family : null;

$pdt-name-color : null;
$pdt-name-text-transform : null;
$pdt-name-text-decoration : null;
$pdt-name-line-height : null;
$pdt-name-letter-spacing : null;

$pdt-name-margin-bottom : $spacer/2;
//end product name
