//thumb settings
$thumb-wrap-margin: $spacer auto $spacer*3;
$thumb-wrap-width: 100%;

$thumb-border-width: 1px;
$thumb-border-color: $border-color;
$thumb-active-border-color: $border-color;
$thumb-padding: 8px;
$thumb-width:64px;
$thumb-min-width-glider:$thumb-width + $thumb-padding * 2 + $thumb-border-width * 2;
$thumb-margin-x: $spacer/8;
$thumb-active-border-color: $primary;

//btn collapse product section (usefull if product page with collapse layout)
$pdt-btn-collapse-color : $black;
$pdt-btn-collapse-font-family : $headings-font-family;
$pdt-btn-collapse-font-size : 1.125 * $font-size-base;
$pdt-btn-collapse-font-weight : $font-weight-bold;
$pdt-btn-collapse-border-color : $border-color;
