// *** HEADER ***

$header-bg: null;
$header-border-width: 1px;
$header-border-color: $secondary;

// *** SHORTCUTS ***

//Icon
$header-shortcut-icon-color: $black;
$header-shortcut-icon-size: 28px;

//Link
$header-shortcut-color: $black;
$header-shortcut-font-size: $font-size-base;

//Customer
$header-shortcut-customer-color: $dark;
$header-shortcut-customer-font-size: $extra-small-font-size;

//Cart
$header-shortcut-cart-count-padding-right: $header-shortcut-cart-count-width / 2;
$header-shortcut-cart-count-width: $spacer*1.5;
$header-shortcut-cart-count-height: $spacer*1.5;
$header-shortcut-cart-count-top: -50%;
$header-shortcut-cart-count-right: 0;

$header-shortcut-cart-count-font-size: $extra-small-font-size;
$header-shortcut-cart-count-font-weight: $font-weight-normal;

$header-shortcut-cart-count-bg: $black;
$header-shortcut-cart-count-color: $white;