
// *** TAGS BASICS ***

//Font
$tag-font-size: $font-size-base*.875;
$tag-font-weight: null;
$tag-font-family : null;

//Text
$tag-text-transform : null;
$tag-text-decoration : null;
$tag-line-height : null;
$tag-letter-spacing : null;

//Spacing
$tag-padding-y: $spacer*.125;
$tag-padding-x: $spacer*.25;

//Radius
$tag-radius: $spacer*.25;

//Border
$tag-border-enable: false;

$tag-border-width: 0;

@if ($tag-border-enable == true) {
  $tag-border-width: 1px;
}

//Color
$tag-color: $white;


// *** TAGS TYPES ***

//Discount
$tag-discount-font-size: null;
$tag-discount-font-weight: null;
$tag-discount-color: null;
$tag-discount-bg: $red;
$tag-discount-border: null;

//Promo
$tag-promo-font-size: null;
$tag-promo-font-weight: null;
$tag-promo-color: null;
$tag-promo-bg: $red;
$tag-promo-border: null;

//New
$tag-new-font-size: null;
$tag-new-font-weight: null;
$tag-new-color: null;
$tag-new-bg: $primary;
$tag-new-border: null;

//Pack
$tag-pack-font-size: null;
$tag-pack-font-weight: null;
$tag-pack-color: null;
$tag-pack-bg: $primary;
$tag-pack-border: null;