$pm-margin-bottom: $spacer*3;


$pm-card-bg-color: #fff;
$pm-card-radius: null;

$pm-card-thumb-margin-bottom: $spacer;
$pm-card-thumb-radius: $spacer/2;
$pm-card-thumb-bg: null;
$pm-thumb-margin-bottom: $spacer;


$pm-card-body-padding-x: 0;
$pm-card-body-padding-y: 0;
$pm-card-body-bg-color: null;


$pm-card-img-border: null;
$pm-card-img-radius: null;
