$pm-margin-bottom: $spacer*3;


$pm-card-bg-color: #fff;
$pm-card-radius: null;

//product name
$pm-name-font-size : null;
$pm-name-font-weight : null;
$pm-name-font-family : null;

$pm-name-color : $body-color;
$pm-name-color-hover : null;
$pm-name-text-transform : null;
$pm-name-text-transform-hover : null;
$pm-name-text-decoration : null;
$pm-name-line-height : null;
$pm-name-letter-spacing : null;

$pm-name-margin-bottom : $spacer/2;
//end product name

//product brand
$pm-brand-font-size : $font-size-base * .75;
$pm-brand-font-weight : null;
$pm-brand-font-family : null;

$pm-brand-color : $body-color;
$pm-brand-text-transform : uppercase;
$pm-brand-text-decoration : null;
$pm-brand-line-height : null;
$pm-brand-letter-spacing : null;

$pm-brand-margin-bottom : $spacer/4;
//end product brand



//product thumb
$pm-thumb-margin-bottom: $spacer;
$pm-thumb-radius: $spacer/2;
$pm-thumb-bg-color: null;

$pm-thumb-border: null;
$pm-thumb-border-radius: null;

$pm-thumb-padding-x: null;
$pm-thumb-padding-y: null;
$pm-thumb-margin-bottom: $spacer;




$pm-card-body-padding-x: 0;
$pm-card-body-padding-y: 0;
$pm-card-body-bg-color: null;


$pm-card-img-border: null;
$pm-card-img-radius: null;
