$search-color: $body-color !default;
$search-font-size: 1.25rem !default;
$search-padding-x: $btn-padding-y - ($search-font-size - $font-size-base) !default;
$search-border-radius: $spacer*1.25 !default;
$search-border-color: transparent !default;
$search-bg-color: $gray-light !default;
$search-placeholder-color: $search-color !default;
