/* Columns
  ========================================================================== */


@if $enable-grid-classes {


} @else {
  %grid-column {
    position: relative;
    width: 100%;
    padding-right: $grid-gutter-width / 2;
    padding-left: $grid-gutter-width / 2;
  }
  .col,
  .col-auto {
    @extend %grid-column;
  }
  .col-auto {
    @include make-col-auto();
  }


  //$columns-xs: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;
  //$columns-sm: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11;
  //$columns-md: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11;
  $columns-lg: 3,4,9;

  //@each $column- in $columns-xs {
  //  .col-#{$column-} {
  //    @include make-col($column-);
  //  }
  //}
  //@each $column-sm in $columns-sm {
  //  .col-sm-#{$column-sm} {
  //    @include make-col($column-sm);
  //  }
  //}
  //@each $column-md in $columns-md {
  //  .col-md-#{$column-md} {
  //    @include make-col($column-md);
  //  }
  //}
  @each $column-lg in $columns-lg {
    .col-lg-#{$column-lg} {
      @include make-col($column-lg);
      @extend .col;
    }
  }
}

