/* Wrapper and container
  ========================================================================== */

/**
* Page-level constraining and wrapping elements.
*/

$wrapper-width: 1440px !default;

@if $enable-grid-classes {
  [class].o-wrapper {
    width: 100%;
    max-width: 100%;

    @extend .container;
  }
} @else {
  .container {
    @include make-container();
    @media (min-width: $wrapper-width) {
      max-width: $wrapper-width;
    }
  }

  // 100% wide container at all breakpoints
  .container-fluid {
    @include make-container();
  }
  .o-wrapper {
    @extend .container;
  }
}

.o-wrapper--fullbleed {
  position: relative;
  width: 100vw;
  max-width: 100vw;
  margin-left: -15px;
  margin-right: -15px;
  @media (min-width: $wrapper-width) {
    margin-left: calc((-100vw / 2 + #{$wrapper-width} / 2) - 15px);
    margin-right: calc((-100vw / 2 + #{$wrapper-width} / 2) - 15px);
  }
}