/* Wrapper and container
  ========================================================================== */

/**
* Page-level constraining and wrapping elements.
*/

@if $enable-grid-classes {

  [class].o-wrapper {
    width: 100%;
    max-width: 100%;
    @media (min-width: 1500px) {
      max-width: 1440px;
    }
    @extend .container;
  }

} @else {

  .container {
    @include make-container();

    // Version 4.0
    //@include make-container-max-widths();
  }

  // 100% wide container at all breakpoints
  .container-fluid {
    @include make-container();
  }
  .o-wrapper {
    @extend .container;
    @media (min-width: 1500px) {
      max-width: 1440px;
    }
  }


}

