//color

$bg-dark :                      #dededd;
$tertiary:                      #f39d72;

//option
$enable-fluid-layout:            false;

// main layout
$header-bg:                     $white;
$footer-bg:                     $white;
$wrapper-bg:                    #f1f1f1;
$footer-container-margin-top:   $spacer;