//color

$bg-dark :                      #dededd;
$tertiary:                      #f39d72;

//option
$enable-fluid-layout:            false;


/* HEADER */
$header-bg:                     $white;
$header-nav-bg-color:           null;
$header-nav-color:              $body-color;
$header-nav-border-color:       $border-color;
$header-top-border-color:       $header-nav-border-color;
/* MAIN */
$wrapper-bg:                    #f1f1f1;
/* FOOTER */
$footer-bg:                     $white;
$footer-container-margin-top:   $spacer;