.c-pdt-mini__card {
  padding-bottom: $spacer;
  margin-bottom: $spacer;
}

.c-pdt-mini__thumbnail {
  position: relative;
  margin-bottom: $spacer;
}

.c-pdt-mini__tag {
  position: absolute;
  bottom: $spacer*.5;
  left: $spacer*.5;
}