.c-history {
  display: flex;
  flex-direction: column;
}

.c-history__item {
  display: flex;
  justify-content: space-between;

  &:not(:last-child) {
    padding-bottom: $spacer*2;
    margin-bottom: $spacer*2;
    border-bottom: solid 1px $gray-light;
  }
}

.c-history__info {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-right: $spacer*3;
  }
}

.c-history__img {
  position: relative;
  width: 150px;

  &:not(:last-of-type) {
    margin-right: $spacer;
  }

  &--watermark {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @extend .u-h2;
    background-color: rgba(0, 0, 0, 0.5);
    color: $white;
  }
}