.c-header__searchbar-widget {
  margin: 0 auto;
}

.c-header__searchbar-group {
  position: relative;
}

.c-header__searchbar-input {
  padding-right: 50px;
  border-radius: $spacer*1.25;
}

.c-header__searchbar-btn {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  height: 100%;
  background: none;
  border: none;
}
