//Header

.c-header {
  padding-bottom: $spacer*2;
  margin-bottom: $spacer*3;
  border-bottom: solid 1px $secondary;

  @include media-breakpoint-mobile {
    padding-bottom: 0;
  }
}

//Top Header

.c-top-header {
  padding-top: $spacer*.5;
  padding-bottom: $spacer*.5;
  font-size: $small-font-size;
  background-color: $topheader-bg-color;
  color: $topheader-color;
}

.c-top-header__contact {
  color: $black;
  @include media-breakpoint-mobile {
    display: none;
  }
}

.c-top-header__msg {
  margin: 0 auto;
}

.c-top-header__selects {
  display: flex;
  align-items: center;
  @include media-breakpoint-mobile {
    display: none;
  }
}

.c-top-header__btn {
  font-size: $small-font-size;
  color: $dark;
  background: none;
  border: none;
}

//Header Content

.c-header__content {
  margin-top: $spacer*1.5;
  margin-bottom: $spacer*1.5;

  @include media-breakpoint-mobile {
    margin-top: $spacer;
    margin-bottom: $spacer;
    flex-wrap: wrap;
  }

  & > *:not(:last-child) {
    margin-right: $spacer*4;

    @include media-breakpoint-mobile {
      margin-right: 0;
    }
  }
}

.c-header__logo {
  max-width: 100%;
  height: auto;
}

.c-header__searchbar {
  flex: 1;

  @include media-breakpoint-mobile {
    margin-top: $spacer;
    flex: 0 0 100%;
  }
}

.c-header__shortcut {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.c-header__shortcut-item {
  &:not(:first-child) {
    margin-left: $spacer*2;
  }

  a {
    color: $black;

    &:hover {
      text-decoration: none;
    }
  }
}

.c-header__cart {
  position: relative;
  padding-right: ($spacer*1.5) / 2;
}

.c-header__cart-label {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  width: $spacer*1.5;
  height: $spacer*1.5;
  font-size: $small-font-size;
  color: $white;
  background-color: $black;
  border-radius: 50%;
}

.c-header__customer {
  &-name {
    margin-bottom: 0;
    font-size: $extra-small-font-size;
    color: $dark;
  }

  &-account {
    margin-bottom: 0;
    font-size: $small-font-size;
    color: $black;
  }

  &-icon {
    color: $black;
  }

  &-signin {
    margin-bottom: 0;
    font-size: $small-font-size;
    margin-left: $spacer*.5;
    color: $black;
  }

  @include media-breakpoint-mobile {
    &-name, &-account {
      display: none;
    }
  }
}

//Nav

.c-nav__link {
  color: $black;
  margin-right: $spacer*2.5;
  font-weight: 700;
}

//Checkout

.c-header-checkout {
  padding: $spacer*2 0;
  border-bottom: solid 1px $gray-light;
  margin-bottom: $spacer*3;
}