

// products thumbs

.c-pdt__thumbs{
  width:calc(#{$thumb-wrap-width} - #{$btn-arrow-width*2});
  margin: $thumb-wrap-margin;
}


.c-pdt__thumb{
  border: $thumb-border-width solid $thumb-border-color;
  padding: $thumb-padding;
  width: $thumb-min-width-glider;
  cursor: pointer;
  &.glider-slide{
    min-width: $thumb-min-width-glider;
  }
  &[class].c-snap__item{
    margin-right: $thumb-margin-x;
    margin-left: $thumb-margin-x;
  }
  &.is-thumb-selected{
    border-color:$thumb-active-border-color;
    cursor: auto;
  }
}
.c-pdt__thumbimg{
  width: $thumb-width;
  height: auto;
}

//buton for collapse
.c-pdt__sections{
  border-top: 1px solid $pdt-btn-collapse-border-color;
}
.btn.c-pdt__btncollapse{
  font-family: $pdt-btn-collapse-font-family;
  padding-left: 0;
  font-size: $pdt-btn-collapse-font-size;
  font-weight: $pdt-btn-collapse-font-weight;
  color: $pdt-btn-collapse-color;
  width: 100%;
  text-align: left;
  //border-top: 1px solid red;
  border-bottom: 1px solid $pdt-btn-collapse-border-color;
  border-radius: 0;
  &:hover{
    text-decoration: none;
  }
  &:focus{
    box-shadow: none;
  }
  &[aria-expanded="true"]{
    border-bottom: transparent;
  }

}

.c-pdt__bodycollapse{
  border-bottom: 1px solid $pdt-btn-collapse-border-color;
}