.c-btn--nopad{
  @extend .btn-link;
  padding: 0;
}

.c-btn--unstyled {
  background: none;
  border: none;
  padding: 0;
}

.c-btn-add {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;

  & span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.c-btn-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  line-height: 1;
  height: calc(#{$btn-line-height*$btn-font-size+$btn-padding-y*2} + #{($btn-border-width*2)});
  width: calc(#{$btn-line-height*$btn-font-size+$btn-padding-y*2} + #{($btn-border-width*2)});
  &--lg{
    height: calc(#{$btn-line-height*$btn-font-size-lg+$btn-padding-y-lg*2} + #{($btn-border-width*2)});
    width: calc(#{$btn-line-height*$btn-font-size-lg+$btn-padding-y-lg*2} + #{($btn-border-width*2)});
  }

}