.c-footer {
  align-items: flex-start;
  padding-top: $spacer*4.5;
  margin-bottom: $spacer*4;
}

.c-footer-item {
  @include media-breakpoint-mobile {
    margin-bottom: $spacer;
  }
}

.c-footer-item__title {
  color: $black;
  font-weight: $headings-font-weight;
  margin-bottom: $spacer;
}

.c-footer__newsletter {
  padding: $spacer*2;
  background-color: $gray-light;
}

.c-footer__bottom {
  display: flex;
  justify-content: space-between;
}