.c-slider__controls {

}

.c-slider__dots {
  margin: 0;

  & .glider-dot {
    width: 12px;
    height: 12px;
    background: none;
    border: 1px solid $black;
    border-radius: 50%;

    &.active {
      background-color: $black;
    }
  }
}

.c-slider__arrow {
  &.disabled {
    opacity: .5;
  }
}