.c-panel {
  padding: $spacer*1.5;
  margin-bottom: $spacer;
}
.c-panel--lg{
  padding: $spacer*1.5 $spacer*2;
  background-color: $white;
}
.c-panel--border{
  border: solid 1px $gray-light;

}

.c-panel__head {
  border-bottom: $gray-light solid 1px;
  padding-bottom: $spacer;
  margin-bottom: $spacer*2;
}

// Tunnel completed step
.-reachable > .c-panel__head {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.-current > .c-panel__head {
  border-bottom: $gray-light solid 1px;
  padding-bottom: $spacer;
  margin-bottom: $spacer*2;
}