.c-txt-primary {
  color: $primary;
}

.c-txt-secondary {
  color: $secondary;
}

.c-txt-black {
  color: $black;
}

.c-txt-white {
  color: $white
}

.c-txt-dark {
  color: $dark;
}

.c-txt-gray {
  color: $gray;
}