.c-carousel__content {
  position: absolute;
  left: $spacer*4;
  top: $spacer*4;
}

.c-carousel__title {
  font-size: 80px;
  font-weight: $font-weight-bold;
  color: $white;
  margin-bottom: $spacer*1.5;
}

.c-carousel__baseline {
  color: $white;
}