.c-collapse__btn {
  @extend .btn;
  @extend .btn-link;
  padding-left: 0;
  color: $body-color;
  width: 100%;
  text-align: left;
  border-radius: 0;
  border-bottom: none;
  text-decoration: none;

  &:hover, &:focus {
    text-decoration: none;
    box-shadow: none;
    color: inherit;
  }

  & svg {
    transition: .4s;
  }

  &[aria-expanded="false"] {
    & svg {
      transform: rotate(-180deg);
    }
  }
}

.c-collapse__btn--pdtsection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $pdt-btn-collapse-padding-y $pdt-btn-collapse-padding-x;
  font-family: $pdt-btn-collapse-font-family;
  font-size: $pdt-btn-collapse-font-size;
  font-weight: $pdt-btn-collapse-font-weight;
  color: $pdt-btn-collapse-color;
  border-top: 1px solid $pdt-btn-collapse-border-color;

  &:hover {
    color: $pdt-btn-collapse-color-hover;
  }
}

.c-pdt__section:last-child {
    border-bottom: 1px solid $pdt-btn-collapse-border-color;
}