.c-panel {
  padding: $spacer*1.5;
  border: solid 1px $gray-light;
  margin-bottom: $spacer;
}

.c-panel__head {
  border-bottom: $gray-light solid 1px;
  padding-bottom: $spacer;
  margin-bottom: $spacer*2;
}