// Command history
.c-history {
  display: flex;
  flex-direction: column;
}

.c-history__item {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    padding-bottom: $spacer*2;
    margin-bottom: $spacer*2;
    border-bottom: solid 1px $gray-light;
  }
}

.c-history__data {
  display: flex;
  flex-direction: column;
  margin-bottom: $spacer*1.5;

  @include media-breakpoint-mobile () {
    &--right {
      text-align: right;
    }
  }
}

.c-history__data-status {
  border-radius: $spacer*.5;
  padding: $spacer*.25 $spacer*.5;
  color: $white;
  font-size: $small-font-size;
}

.c-history__thumbnails {
  display: flex;
  justify-content: flex-end;

  @include media-breakpoint-mobile {
    justify-content: flex-start;
  }
}

.c-history__img {
  position: relative;
  max-width: 150px;
  width: 150px;

  @include media-breakpoint-mobile {
    width: 50%;
  }

  &:not(:last-of-type) {
    margin-right: $spacer;
  }

  &--watermark {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: $white;
    background-color: rgba(0, 0, 0, .5);
    @extend .u-h2;
  }
}

// Details command
