.c-price {
  &--current {
    font-weight: 700;
    color: $black;
  }

  &--discount {
    font-weight: 700;
    color: $red;
  }

  &--old {
    font-weight: 400;
    color: $dark;
    text-decoration: line-through;
  }
}

.c-price-sm {
  font-size: $price-sm-font-size;
}

.c-price-lg {
  font-size: $price-lg-font-size;
}

