.c-pdt-mini.glider-slide {
  flex: auto;
}

.glider-dot {
  border: 2px solid $black;
  background: none;

  &.active {
    background-color: $black;
  }

  &:hover {
    background-color: $black;
  }
}