.c-catalog__header {
  padding: $spacer*2;
  color: $white;

}

.c-catalog-breadcrumb {
  margin-bottom: $spacer;
}

.c-catalog-breadcrumb__item {
  margin-bottom: 0;
  font-size: $small-font-size;
  color: $secondary;
}

.c-result {
  margin-top: $spacer*1.5;
  margin-bottom: $spacer*1.5;
}

.c-result__select {
  padding: $spacer*.375;
  border: solid 1px $gray;
  border-radius: 4px;
}
