.c-price {
  &--current {
    font-size: $price-current-font-size;
    font-weight: $price-current-font-weight;
    color: $price-current-color;
  }

  &--discount {
    font-size: $price-discount-font-size;
    font-weight: $price-discount-font-weight;
    color: $price-discount-color;
  }

  &--old {
    font-size: $price-old-font-size;
    font-weight: $price-old-font-weight;
    color: $price-old-color;
    text-decoration: line-through;
  }
}

.c-price-sm {
  font-size: $price-sm-font-size;
}

.c-price-lg {
  font-size: $price-lg-font-size;
}

