.c-form__row {
  display: flex;
  align-items: center;
  margin-bottom: $spacer*1.5;
}

.c-form__label {
  color: $dark;
  margin-bottom: $spacer*.5;

  &--sm {
    font-size: $font-size-sm;
  }
}

.c-form__quantity {
  & > div {
    display: flex;
    width: 300px;
  }
}

.c-form__footer {
  display: flex;
  justify-content: center;
  margin: 0 auto $spacer*1.5;
}