.c-checkout-panel__head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  margin: 0 auto $spacer*1.5;
  border: none;

  & .nav-link.active {
    border: none;
  }
}

.c-checkout-panel__form {
  width: 100%;
  max-width: 320px;
  margin: auto;

  &--lg {
    max-width: 624px;
  }
}

.c-checkout-card {
  padding: $spacer;
  margin-bottom: $spacer;
  border: solid $gray-light 2px;
  border-radius: 4px;

  & label {
    float: none;
  }
}

.c-checkout-card__head {
  display: flex;
  justify-content: space-between;
  padding-bottom: $spacer;
  margin-bottom: $spacer;
  border-bottom: $gray-light solid 1px;
}

//Carriers estimation

.c-checkout-carrier {
  overflow: auto;

  & > table {
    width: 100%;
    min-width: 400px;
  }
}

.c-checkout-carrier__info {
  display: flex;
  justify-content: center;

  & div:first-of-type {
    margin-right: $spacer;
  }

  @include media-breakpoint-mobile () {
    flex-direction: column;

    & div:first-of-type {
      margin-right: 0;
    }
  }
}

.c-checkout-carrier__row {
  border-bottom: $gray-light solid 1px;

  &:first-of-type {
    border-top: $gray-light solid 1px;
  }

  & td {
    padding: $spacer;
  }
}

.c-checkout-carrier__btn {
  display: flex;
  align-items: center;
  justify-content: center;

  @include media-breakpoint-mobile () {
    flex-direction: column;

    & div {
      margin-right: 0;
    }
  }
}


//Modal
.modal-body #colissimo-widget-container {
  height: 100% !important;
}