.grade-stars,
.comments-note{
  display: flex;
}
.star{
  color: #f1ab00;
}

/** product list **/
.product-list-reviews{
  .grade-stars{
 justify-content: center;
  }
  .star{
    .material-icons{
      font-size: $font-size-base;
    }
  }
}
/** product page **/
.product-comments-additional-info{
  margin: $spacer 0;
}
.comments-note{
  .grade-stars{
    margin-left: $spacer/4;
  }
  margin-bottom: $spacer/2;
}
.comments__header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/** comment list **/
.product-comments__pagination{
  ul{
    @extend .pagination;
    @extend .pagination-sm;
  }
    li{
      @extend .page-item;
      span{
        @extend .page-link;
      }
      &:not(.disabled){
        span:not(.current){
          cursor: pointer;
        }
      }
    }
}
