$heightLine: $line-height-base*$font-size-base ;


//
//.sitemap > li > ul {
//  margin-top: $heightLine ;
//
//}

.sitemap ul {


  & > li > ul {
      margin-top: $heightLine ;
    }

  li {
    line-height: $heightLine ;
    vertical-align: top ;
    position: relative ;

    a {
      text-decoration: none ;
      display: inline-block ;

    }
  }


  ul {
    margin-left: $heightLine ;
    margin-bottom: $heightLine ;


    li {
      position: relative ;
      &::before {
        content: "" ;
        display: inline-block ;
        width: $heightLine * 2 ;
        height: 100% ;
        border-left: 1px #ccc solid ;
        position: absolute ;
        top: -$heightLine / 2 ;
      }


      &::before {
        content: "" ;
        display: inline-block ;
        width: $heightLine * 2 ;
        height: $heightLine ;
        border-bottom: 1px #ccc solid ;
        position: absolute ;
        top: -$heightLine / 2 ;
      }
      a {
        margin-left: $heightLine * 2.5 ;
      }
    }
  }
}
