img[data-lazy] {
  display: none;
}
.text-underline{
  text-decoration: underline;
}
.cursor-pointer{
  cursor: pointer;
}
<<<<<<< HEAD
=======
@mixin media-breakpoint-desktop() {

  @include media-breakpoint-up(lg) {
    @content;
  }
}
@mixin media-breakpoint-mobile() {

  @include media-breakpoint-down(md) {
    @content;
  }
}
>>>>>>> 69e62a512c76de44444416e7e84b9b776698aa37
.visible--desktop{
  @include media-breakpoint-mobile(){
    display: none;
  }
}
.visible--mobile{
  @include media-breakpoint-desktop(){
    display: none;
  }
}
<<<<<<< HEAD
.d--none{
  display: none;
}
.header-nav__container{
  display: flex;
  justify-content: space-between;
}
=======

.full-bleed {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}
>>>>>>> 69e62a512c76de44444416e7e84b9b776698aa37
