/* Content entered by WYSIWYG [component]
========================================================================== */
.s-cms {
  img, iframe {
    max-width: 100%;
  }
}

.s-cms-list {
  &, & ul {
    list-style: inherit;
    padding-left: $spacer*1.25;
    margin-bottom: $spacer;
  }
}